.delicious {
  padding: 0 0 rem(8);

  &__box__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image__box {
    position: relative;
  }

  &__image__background {
    background-image: url(./../../image/delicious/backDeliciousFull.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(465);
    height: rem(684);

    @include tablet {
      width: rem(365);
      height: rem(584);
    }

    @include mobile {
      width: rem(265);
      height: rem(484);
    }

    @include mobile-s {
      width: rem(250);
      height: rem(384);
    }
  }

  &__image__cafe {
    position: absolute;
    width: rem(595);
    height: rem(815);
    top: rem(-83);
    left: rem(-35);

    @include tablet {
      width: rem(495);
      height: rem(715);
    }

    @include mobile {
      width: rem(395);
      height: rem(615);
    }

    @include mobile-s {
      width: rem(320);
      height: rem(515);
    }
  }

  &__star {
    position: absolute;
    width: rem(232);
    height: rem(232);
    top: rem(-83);
    right: rem(-45);

    @include tablet {
      width: rem(170);
      height: rem(170);
      top: rem(-62);
      right: rem(-53);
    }

    @include mobile {
      width: rem(140);
      height: rem(140);
      top: rem(-61);
      right: rem(-64);
    }

    @include mobile-s {
      width: rem(140);
      height: rem(140);
      top: rem(-81);
      right: rem(-29);
    }

    &__description {
      position: absolute;
      top: rem(12);
      left: rem(374);
      font-family: var(--font-family-base);
      font-weight: 500;
      font-size: rem(38);
      line-height: 0.86;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);

      @include desktop {
        left: rem(353);
      }

      @include tablet {
        font-size: rem(25);
        left: rem(305);
        top: rem(7);
      }

      @include mobile {
        left: rem(232);
        top: rem(-2);
      }

      @include mobile-s {
        left: rem(182);
        top: rem(-23);
      }
    }
  }

  &__box__right,
  &__box__left {
    flex: 1 1 50%;
  }

  &__box__left {
    margin-right: rem(327);

    @include desktop {
      margin-right: 0;
      margin-bottom: rem(40);
    }
  }

  &__box__right {
    position: relative;
  }

  &__title {
    margin-bottom: rem(65);
    font-family: var(--font-family-base);
    font-weight: 800;
    font-size: rem(80);
    line-height: 1.09;
    color: var(--color-white);

    @include desktop {
      text-align: center;
      font-size: rem(70);
    }

    @include mobile {
      font-size: rem(58);
    }

    > strong {
      font-family: var(--font-family-base);
      font-weight: 800;
      font-size: 100%;
      line-height: 1.09;
      background: var(--color-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    display: inline-block;
    text-align: left;
    margin-bottom: rem(75);
    max-width: rem(475);
    hyphens: auto;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: rem(20);
    line-height: 1.63;
    color: var(--color-white);

    @include desktop {
      left: rem(352);
    }

    @include tablet {
      text-align: center;
    }
  }

  &__background__image__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../../image/delicious/cafeCookingFull.webp);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: rem(447);
    height: rem(275);

    @include tablet {
      margin: 0 auto;
      align-items: end;
    }
  }

  &_button {
    position: absolute;
    display: flex;
    align-items: center;
    padding: rem(20) rem(70);
    border-width: rem(1);
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: rem(24);
    line-height: 1.46;
    color: var(--color-white);
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: rem(50);
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    @include tablet {
      padding: rem(20) rem(50);
    }

    @include mobile {
      font-size: rem(18);
    }

    > svg {
      margin-right: rem(5);
    }
    &:hover {
      background-position: 100% 0;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      .delicious_button__tooltip-1 {
        top: -85%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        @include tablet {
          top: -70%;
        }
      }
      .delicious_button__tooltip-2 {
        left: -28%;
        top: 26%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        @include tablet {
          top: -170%;
          left: rem(164);
        }

        @include mobile {
          left: rem(140);
        }

        @include mobile-s {
          left: rem(141);
        }
      }
      .delicious_button__tooltip-3 {
        top: 120%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        @include tablet {
          top: -270%;
          left: rem(164);
        }

        @include mobile {
          left: rem(140);
        }

        @include mobile-s {
          left: rem(141);
        }
      }
    }

    &:focus {
      outline: none;
    }

    &.color-1 {
      background-image: var(--color-gradient-hover);
      box-shadow: var(--box-shadow);
    }

    &__tooltip-1,
    &__tooltip-2,
    &__tooltip-3 {
      position: absolute;
      transform: translateX(-50%);
      font-weight: 400;
      font-size: rem(16);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      border-radius: rem(50);
      background: #ffdb0f;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
        inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      min-width: rem(180);
      padding: rem(8);
      background-image: var(--color-gradient-hover);
      font-family: var(--font-family-base);
      cursor: pointer;
    }

    &__tooltip-1 {
      top: 0%;
      left: 50%;
      width: rem(200);

      @include tablet {
      }
    }

    &__tooltip-2 {
      left: 100%;

      @include tablet {
        top: 0%;
        left: 50%;
        width: rem(200);
      }
    }

    &__tooltip-3 {
      top: 0%;
      left: 50%;

      @include tablet {
        top: 0%;
        left: 50%;
        width: rem(200);
      }
    }
  }
}
