//
.popup {
  position: fixed;
  top: rem(0);
  left: rem(0);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
  &--active {
    visibility: visible;
    opacity: 1;
    .popup__content {
      transform: scale(1);
      opacity: 1;
    }
  }
  &__content {
    background-image: var(--color-gradient);
    padding: rem(30);
    border-radius: rem(30);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: rem(550);
    width: 90%;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
  }
  &__close__btn {
    position: absolute;
    top: rem(15);
    right: rem(20);
    font-size: rem(28);
    cursor: pointer;
    color: var(--color-gray);
    transition: color 0.2s ease;
    &:hover {
      color: var(--color-black-dark);
    }
  }
  &__title {
    color: var(--color-black-dark);
    margin-bottom: rem(26);
    text-align: center;
    font-family: var(--font-family-base);
    font-weight: 400;
  }
}
.form__group {
  margin-bottom: rem(15);
}
.form__label {
  display: block;
  margin-bottom: rem(10);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: rem(24);
  color: var(--color-black-dark);
}
.form__input {
  width: calc(100% - 20px);
  padding: rem(12);
  margin-bottom: rem(18);
  border: 1px solid #ddd;
  border-radius: rem(30);
  box-sizing: border-box;
  font-size: rem(16);
  &::placeholder {
    color: var(--color-green);
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: rem(16);
  }
  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }
}
.form__help__text {
  display: block;
  margin-top: rem(-10);
  margin-bottom: rem(10);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: rem(16);
  color: var(--color-black-dark);
}
.form__submit__button {
  width: 100%;
  padding: rem(12) rem(20);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: rem(24);
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: rem(30);
  cursor: pointer;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &.color-1 {
    background-image: var(--color-gradient-hover);
    box-shadow: var(--box-shadow);
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
.thank__you {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  &--active {
    visibility: visible;
    opacity: 1;
    .thank__you__content {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__content {
    background-image: var(--color-gradient);
    padding: rem(40);
    border-radius: rem(30);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    max-width: rem(350);
    width: 80%;
    position: relative;
  }
  &__title {
    font-family: var(--font-family-base);
    font-weight: 500;
    color: var(--color-white);
    margin-bottom: rem(20);
    font-size: rem(30);
  }
  &__text {
    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--color-black-dark);
    font-size: rem(18);
    line-height: 1.6;
  }
  &__close__btn {
    position: absolute;
    top: rem(10);
    right: rem(15);
    font-size: rem(30);
    cursor: pointer;
    color: var(--color-gray);
    transition: color 0.2s ease;
    &:hover {
      color: var(--color-black-dark);
    }
  }
}
