.products {
  padding-bottom: rem(80);

  @include tablet {
    padding-bottom: rem(20);
  }

  &__info__items {
    display: flex;
    align-items: center;
    margin-bottom: rem(60);

    @include desktop {
      flex-direction: column;
    }

    @include tablet {
      margin-bottom: rem(0);
    }
  }
  &__info__title {
    max-width: rem(382);
    margin-right: rem(100);
    font-family: var(--font-family-base);
    font-weight: 800;
    font-size: rem(80);
    line-height: 1.09;
    color: var(--color-white);

    @include desktop {
      text-align: center;
      margin-bottom: rem(40);
      margin-right: rem(0);
      font-size: rem(70);
    }

    @include mobile {
      font-size: rem(58);
    }
    > strong {
      background: var(--color-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__info__description {
    max-width: rem(465);
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: rem(20);
    line-height: 1.63;
    color: var(--color-white);
    list-style: none;
    position: relative;
    hyphens: auto;
    transition: all 0.5s ease-out;

    @include desktop {
      text-align: center;
    }

    @include tablet {
      margin-bottom: rem(60);
    }
  }
  &__info__box {
    display: flex;
    justify-content: space-around;
    column-gap: rem(40);

    @include desktop {
      flex-wrap: wrap;
    }
    @include tablet {
      display: none;
    }
    &:hover > .products__info__card:not(:hover).products__info__card {
      filter: brightness(0.8) grayscale(0.6) contrast(1.2) blur(10px);
    }
  }
  &__info__card {
    max-width: rem(450);
    color: var(--color-white);
    position: relative;
    transition: all 0.5s ease-out;
    border-radius: rem(30);
    box-shadow: var(--color-gray) 6px 2px 16px 0px,
      var(--color-gray) -6px -2px 16px 0px;
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
    @include desktop {
      margin-bottom: rem(20);
    }
    &:hover {
      transform: scale(1.02);
      filter: drop-shadow(0px 0px 100px #0ba360);
      box-shadow: var(--color-green) 6px 2px 16px 0px,
        var(--color-green) -6px -2px 16px 0px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      bottom: rem(100);
    }
    &__title {
      margin-bottom: rem(20);
      font-family: var(--font-family-base);
      font-weight: 500;
      font-size: rem(36);
      line-height: 1.63;
      color: var(--color-white);
    }
    &__subtitle {
      margin-bottom: 10px;
      font-family: var(--font-family-base);
      font-weight: 400;
      font-size: rem(26);
      line-height: 1.63;
      text-align: center;
      color: var(--color-gray);
    }
    &__cost {
      display: flex;
      justify-content: space-between;
      width: rem(200);
      align-items: center;
    }
    &__cost {
      margin-bottom: rem(20);
    }
    &__price {
      font-family: var(--font-family-base);
      font-weight: 500;
      font-size: rem(32);
      line-height: 1.63;
      color: var(--color-white);
    }
    &__capacity {
      font-family: var(--font-family-base);
      font-weight: 400;
      font-size: rem(20);
      line-height: 1.63;
      color: var(--color-gray);
    }
    &__button {
      padding: rem(10);
      &.color-1 {
        background-image: var(--color-gradient-hover);
        box-shadow: var(--box-shadow);
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background-position: 100% 0;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
    &__button {
      width: 80%;
      margin-bottom: rem(15);
      padding: rem(12) rem(40);
      border-radius: rem(30);
      border-width: rem(1);
      font-family: var(--font-family-base);
      font-weight: 400;
      font-size: rem(24);
      line-height: 1.46;
      color: var(--color-white);
      text-align: center;
      border: none;
      background-size: 300% 100%;
      border-radius: rem(50);
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      @include mobile {
        font-size: rem(20);
      }

      @include mobile-s {
        width: 90%;
        font-size: rem(16);
      }
    }
  }
  &__info__image__box {
    text-align: center;
    height: rem(350);
  }
  &__info__image {
    position: relative;
    margin-bottom: rem(20);
    border-radius: rem(16);
    overflow: hidden;
    transform: scale(1);
    transition: all 0.5s ease-out;
    &::after {
      content: "";
      background-image: linear-gradient(360deg, black, transparent);
      height: rem(150);
      bottom: 0;
      width: 100%;
      position: absolute;
    }
  }

  .mobile__stack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(450);
    height: rem(700);
    margin: 0 auto;
    margin-bottom: rem(100);
    user-select: none;
    touch-action: none;
    transform-style: preserve-3d;

    @include tablet {
      width: rem(430);
    }

    @include mobile {
      flex-direction: column;
      width: rem(380);
    }

    @include mobile-s {
      width: rem(290);
    }
  }

  .card {
    cursor: grab;
    padding: rem(20);
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 10%);
    position: absolute;
    border-radius: rem(30);
    z-index: calc(var(--card-max-z-index) - var(--i));
    transform: perspective(var(--card-perspective))
      translateZ(calc(-1 * var(--card-z-offset) * var(--i)))
      translateY(calc(var(--card-y-offset) * var(--i)))
      translateX(var(--swipe-x, 0px)) rotateY(var(--swipe-rotate, 0deg));
    transition: transform var(--card-swap-duration) ease;
    will-change: transform;
    box-shadow: var(--color-gray) 6px 2px 16px 0px,
      var(--color-gray) -6px -2px 16px 0px;
  }

  .card:active {
    cursor: grabbing;
  }
}
