/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: var(--color-green);
}
button:hover {
  background-color: var(--color-gray);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

/* montserrat-regular - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v30-cyrillic-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v30-cyrillic-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v30-cyrillic-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v30-cyrillic-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-black-dark: rgba(18, 21, 23, 1);
  --color-black: rgba(0, 0, 0, 0);
  --color-gray: #bbb3b3;
  --color-gray-dark: rgba(187, 179, 179, 0.43);
  --color-gray-light: rgba(187, 179, 179, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-green: rgba(35, 114, 73, 1);
  --color-green-alt: rgba(23, 168, 108, 0.75);
  --color-gradient: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  --color-gradient-header: linear-gradient(#818589 50%, #35c66b 50%);
  --color-gradient-hover: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  --box-shadow: 0 4px 15px 0 var(--color-green-alt);
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1300px;
  --container-padding-x: 20px;
  --section-padding-y: 50px;
  --transition-duration: 0.3s;
  --card-perspective: 700px;
  --card-z-offset: 12px;
  --card-y-offset: 15px;
  --card-max-z-index: 100;
  --card-swap-duration: 0.3s;
  --swipe-x: 0px;
  --swipe-rotate: 0deg;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.28;
  background-color: var(--color-black-dark);
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--color-green) var(--color-black-dark);
  scrollbar-width: thin;
}

* {
  border: 0.0625rem solid var(--color-green);
}

a,
button,
input,
textarea,
svg * {
  transition: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color--green);
}

a:focus-visible {
  outline: none;
  box-shadow: 0 0 0.125rem 0.1875rem var(--color-green);
}

::-webkit-scrollbar {
  background-color: var(--color-black-dark);
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
  border-radius: 5px;
}

.header {
  padding-bottom: 2.5rem;
}
@media (max-width: 1023px) {
  .header {
    padding-bottom: 2.5rem;
  }
}
.header__item {
  display: flex;
  align-items: center;
  padding: 1.5625rem 0;
}
@media (max-width: 767px) {
  .header__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.header__logo__link {
  margin-right: 5.9375rem;
}
@media (max-width: 767px) {
  .header__logo__link {
    margin-right: 0;
  }
}
.header__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 6.875rem;
       column-gap: 6.875rem;
}
@media (max-width: 767px) {
  .header__list {
    position: fixed;
    right: -100%;
    top: 0rem;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 100vh;
    padding-top: 2.5rem;
    background-image: var(--color-gradient);
    opacity: 1;
    text-align: center;
    transition: 0.5s ease-in-out;
    z-index: 1000;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .header__list.active {
    right: 0;
  }
}
.header__list__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 3rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  padding-bottom: 0.25rem;
  color: var(--color-gray);
  transition: 0.5s ease;
  background-image: var(--color-gradient-header);
  background-size: 100% 200%;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (max-width: 767px) {
  .header__list__link {
    color: var(--color-black-dark);
    margin-bottom: 0.25rem;
  }
}
.header__list__link:hover {
  background-position: 0% 100%;
  -webkit-background-clip: text;
          background-clip: text;
}
.header__list__link:hover::before {
  transform: scaleX(1);
}
.header__list__link::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-green);
  transition: 0.5s;
  transform: scaleX(0);
}
.header__list__link:active {
  color: var(--color-green);
  border-bottom: 0.125rem solid var(--color-green);
}
.header .hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header .hamburger {
    display: block;
  }
}
.header .hamburger__bar {
  display: flex;
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-green);
}
.header .hamburger.active .hamburger__bar:nth-child(2) {
  opacity: 0;
}
.header .hamburger.active .hamburger__bar:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}
.header .hamburger.active .hamburger__bar:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}

.hero {
  padding-bottom: 6.25rem;
}
@media (max-width: 1023px) {
  .hero {
    padding-bottom: 8.75rem;
  }
}
.hero__item {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .hero__item {
    flex-direction: column;
    align-items: center;
  }
}
.hero__box__title {
  margin-bottom: 3.375rem;
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.09;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .hero__box__title {
    text-align: center;
    font-size: 4.375rem;
  }
}
@media (max-width: 767px) {
  .hero__box__title {
    font-size: 3.625rem;
  }
}
.hero__box__name {
  background: var(--color-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__box_description {
  max-width: 35.625rem;
  margin-bottom: 3.375rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  -webkit-hyphens: auto;
          hyphens: auto;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .hero__box_description {
    text-align: center;
  }
}
.hero__box__left, .hero__box__right {
  flex: 1 1 50%;
}
@media (max-width: 1280px) {
  .hero__box__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .hero__box__button__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
  }
}
.hero__button__left {
  display: inline-block;
  margin-bottom: 3.75rem;
  margin-right: 1.25rem;
  padding: 1.25rem 5rem;
  border-width: 0.0625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.125rem;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1023px) {
  .hero__button__left {
    margin-right: 0;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 767px) {
  .hero__button__left {
    font-size: 1.25rem;
  }
}
.hero__button__right {
  padding: 1.25rem 3.4375rem;
  border-width: 0.0625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.125rem;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1023px) {
  .hero__button__right {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 767px) {
  .hero__button__right {
    font-size: 1.25rem;
  }
}
.hero__button__right:hover, .hero__button__left:hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.hero__button__right:focus, .hero__button__left:focus {
  outline: none;
}
.hero__button__right.color-1, .hero__button__left.color-1 {
  background-image: var(--color-gradient-hover);
  box-shadow: var(--box-shadow);
}
.hero__information {
  display: flex;
  margin-bottom: 6.875rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
@media (max-width: 1023px) {
  .hero__information {
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    margin-bottom: 3.75rem;
  }
}
.hero__information__card {
  width: 7.875rem;
  height: 7.875rem;
}
.hero__information__number {
  display: flex;
  align-items: center;
}
.hero__information__info {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 3.875rem;
  line-height: 1.09;
  color: var(--color-white);
}
.hero__information__info__letter {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 3.875rem;
  line-height: 1.09;
  letter-spacing: -3%;
  color: var(--color-white);
}
.hero__information__operand {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: Regular;
  font-size: 3.875rem;
  line-height: 1.09;
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__information__description {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.44;
  color: var(--color-gray-dark);
}
.hero__box__right {
  display: flex;
  justify-content: center;
}
.hero__background__image {
  position: relative;
  background-image: url(../image/hero/coffe_cup_2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 29.25rem;
  height: 39.25rem;
}
@media (max-width: 1280px) {
  .hero__background__image {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 767px) {
  .hero__background__image {
    background-size: auto;
    background-position: center;
    width: 16rem;
    height: 21.5rem;
  }
}
.hero__background__discount {
  position: absolute;
  bottom: 26.875rem;
  right: 1.375rem;
  color: var(--color-white);
  transform: rotate(-30deg);
}
@media (max-width: 767px) {
  .hero__background__discount {
    width: 9.375rem;
    height: 9.375rem;
    bottom: 14.125rem;
    right: 0rem;
  }
}
.hero__background__text {
  position: absolute;
  display: inline-flex;
  bottom: 31.5625rem;
  right: 7.875rem;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.46;
  color: var(--color-white);
  transform: rotate(-22deg);
}
@media (max-width: 767px) {
  .hero__background__text {
    bottom: 17.1875rem;
    right: 4.1875rem;
    font-size: 2.5rem;
  }
}
.hero__background__percent {
  position: absolute;
  display: inline-flex;
  bottom: 33rem;
  right: 5rem;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.46;
  color: var(--color-white);
  transform: rotate(-17deg);
}
@media (max-width: 767px) {
  .hero__background__percent {
    bottom: 18.3125rem;
    right: 2.0625rem;
    font-size: 2.5rem;
  }
}
.hero__background__top__blur {
  position: absolute;
  right: 9.4375rem;
  bottom: 16.5625rem;
  z-index: -1;
  width: 100%;
}
@media (max-width: 767px) {
  .hero__background__top__blur {
    right: 6.0625rem;
    bottom: 8.5625rem;
  }
}
.hero__background__bottom__blur {
  position: absolute;
  left: 5.5rem;
  top: 17.4375rem;
  z-index: -2;
  width: 100%;
}
@media (max-width: 767px) {
  .hero__background__bottom__blur {
    left: 2.75rem;
    top: 10.1875rem;
  }
}
@media (max-width: 480px) {
  .hero__background__bottom__blur {
    left: 1.875rem;
    top: ewm(161);
  }
}
.hero__customer__info {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 64.9375rem;
  min-height: 25rem;
  opacity: 1;
  border-radius: 3.125rem;
  background-color: var(--color-white);
}
.hero__customer__propose {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1280px) {
  .hero__customer__propose {
    flex-wrap: wrap;
  }
}
.hero__customer__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 33%;
}
@media (max-width: 1023px) {
  .hero__customer__card {
    flex: 1 1 33%;
  }
}
.hero__customer__background {
  display: inline-block;
  width: 9.25rem;
  height: 9.25rem;
  background-color: #0ba360;
  border-radius: 100%;
  margin-bottom: 3.125rem;
  cursor: pointer;
}
.hero__customer__image-1 {
  position: relative;
  left: 0.3125rem;
  bottom: 0.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__customer__image-2 {
  position: relative;
  left: -2.9375rem;
  bottom: 0.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__customer__image-3 {
  position: relative;
  left: -2rem;
  bottom: -0.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__customer__subtitle {
  margin-bottom: 0.625rem;
  text-align: center;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.63;
  color: var(--color-black-dark);
}
.hero__customer__description {
  width: 13.75rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  text-align: center;
  color: var(--color-black-dark);
}
.hero__informnation__number {
  display: flex;
  align-items: center;
}
.hero__customer__star {
  position: absolute;
  bottom: 18.5rem;
  left: -2.25rem;
  width: 11.125rem;
  height: 11.125rem;
}
@media (max-width: 1023px) {
  .hero__customer__star {
    top: -3.6875rem;
    left: -2.1875rem;
    width: 8.75rem;
    height: 8.75rem;
  }
}
@media (max-width: 767px) {
  .hero__customer__star {
    left: -2.1875rem;
  }
}
.hero__customer__star__descr {
  position: absolute;
  top: -1.875rem;
  left: 0.75rem;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 2rem;
  line-height: 0.86;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (max-width: 1023px) {
  .hero__customer__star__descr {
    top: -1.5rem;
    left: 0.1875rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .hero__customer__star__descr {
    top: -1.375rem;
    left: 0.1875rem;
  }
}

.delicious {
  padding: 0 0 5rem;
}
.delicious__box__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1280px) {
  .delicious__box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.delicious__image__box {
  position: relative;
}
.delicious__image__background {
  background-image: url(../image/delicious/backDeliciousFull.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 29.0625rem;
  height: 42.75rem;
}
@media (max-width: 1023px) {
  .delicious__image__background {
    width: 22.8125rem;
    height: 36.5rem;
  }
}
@media (max-width: 767px) {
  .delicious__image__background {
    width: 16.5625rem;
    height: 30.25rem;
  }
}
@media (max-width: 480px) {
  .delicious__image__background {
    width: 15.625rem;
    height: 24rem;
  }
}
.delicious__image__cafe {
  position: absolute;
  width: 37.1875rem;
  height: 50.9375rem;
  top: -5.1875rem;
  left: -2.1875rem;
}
@media (max-width: 1023px) {
  .delicious__image__cafe {
    width: 30.9375rem;
    height: 44.6875rem;
  }
}
@media (max-width: 767px) {
  .delicious__image__cafe {
    width: 24.6875rem;
    height: 38.4375rem;
  }
}
@media (max-width: 480px) {
  .delicious__image__cafe {
    width: 20rem;
    height: 32.1875rem;
  }
}
.delicious__star {
  position: absolute;
  width: 14.5rem;
  height: 14.5rem;
  top: -5.1875rem;
  right: -2.8125rem;
}
@media (max-width: 1023px) {
  .delicious__star {
    width: 10.625rem;
    height: 10.625rem;
    top: -3.875rem;
    right: -3.3125rem;
  }
}
@media (max-width: 767px) {
  .delicious__star {
    width: 8.75rem;
    height: 8.75rem;
    top: -3.8125rem;
    right: -4rem;
  }
}
@media (max-width: 480px) {
  .delicious__star {
    width: 8.75rem;
    height: 8.75rem;
    top: -5.0625rem;
    right: -1.8125rem;
  }
}
.delicious__star__description {
  position: absolute;
  top: 0.75rem;
  left: 23.375rem;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 2.375rem;
  line-height: 0.86;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .delicious__star__description {
    left: 22.0625rem;
  }
}
@media (max-width: 1023px) {
  .delicious__star__description {
    font-size: 1.5625rem;
    left: 19.0625rem;
    top: 0.4375rem;
  }
}
@media (max-width: 767px) {
  .delicious__star__description {
    left: 14.5rem;
    top: -0.125rem;
  }
}
@media (max-width: 480px) {
  .delicious__star__description {
    left: 11.375rem;
    top: -1.4375rem;
  }
}
.delicious__box__right, .delicious__box__left {
  flex: 1 1 50%;
}
.delicious__box__left {
  margin-right: 20.4375rem;
}
@media (max-width: 1280px) {
  .delicious__box__left {
    margin-right: 0;
    margin-bottom: 2.5rem;
  }
}
.delicious__box__right {
  position: relative;
}
.delicious__title {
  margin-bottom: 4.0625rem;
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.09;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .delicious__title {
    text-align: center;
    font-size: 4.375rem;
  }
}
@media (max-width: 767px) {
  .delicious__title {
    font-size: 3.625rem;
  }
}
.delicious__title > strong {
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 100%;
  line-height: 1.09;
  background: var(--color-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delicious__description {
  display: inline-block;
  text-align: left;
  margin-bottom: 4.6875rem;
  max-width: 29.6875rem;
  -webkit-hyphens: auto;
          hyphens: auto;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .delicious__description {
    text-align: center;
    left: 22rem;
  }
}
@media (max-width: 1023px) {
  .delicious__description {
    text-align: center;
  }
}
.delicious__background__image__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/delicious/cafeCookingFull.webp);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 27.9375rem;
  height: 17.1875rem;
}
@media (max-width: 1023px) {
  .delicious__background__image__button {
    margin: 0 auto;
    align-items: end;
  }
}
.delicious_button {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1.25rem 4.375rem;
  border-width: 0.0625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.125rem;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 1023px) {
  .delicious_button {
    padding: 1.25rem 3.125rem;
  }
}
@media (max-width: 767px) {
  .delicious_button {
    font-size: 1.125rem;
  }
}
.delicious_button > svg {
  margin-right: 0.3125rem;
}
.delicious_button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.delicious_button:hover .delicious_button__tooltip-1 {
  top: -85%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (max-width: 1023px) {
  .delicious_button:hover .delicious_button__tooltip-1 {
    top: -70%;
  }
}
.delicious_button:hover .delicious_button__tooltip-2 {
  left: -28%;
  top: 26%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (max-width: 1023px) {
  .delicious_button:hover .delicious_button__tooltip-2 {
    top: -170%;
    left: 10.25rem;
  }
}
@media (max-width: 767px) {
  .delicious_button:hover .delicious_button__tooltip-2 {
    left: 8.75rem;
  }
}
@media (max-width: 480px) {
  .delicious_button:hover .delicious_button__tooltip-2 {
    left: 8.8125rem;
  }
}
.delicious_button:hover .delicious_button__tooltip-3 {
  top: 120%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (max-width: 1023px) {
  .delicious_button:hover .delicious_button__tooltip-3 {
    top: -270%;
    left: 10.25rem;
  }
}
@media (max-width: 767px) {
  .delicious_button:hover .delicious_button__tooltip-3 {
    left: 8.75rem;
  }
}
@media (max-width: 480px) {
  .delicious_button:hover .delicious_button__tooltip-3 {
    left: 8.8125rem;
  }
}
.delicious_button:focus {
  outline: none;
}
.delicious_button.color-1 {
  background-image: var(--color-gradient-hover);
  box-shadow: var(--box-shadow);
}
.delicious_button__tooltip-1, .delicious_button__tooltip-2, .delicious_button__tooltip-3 {
  position: absolute;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 3.125rem;
  background: #ffdb0f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62), inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-width: 11.25rem;
  padding: 0.5rem;
  background-image: var(--color-gradient-hover);
  font-family: var(--font-family-base);
  cursor: pointer;
}
.delicious_button__tooltip-1 {
  top: 0%;
  left: 50%;
  width: 12.5rem;
}
.delicious_button__tooltip-2 {
  left: 100%;
}
@media (max-width: 1023px) {
  .delicious_button__tooltip-2 {
    top: 0%;
    left: 50%;
    width: 12.5rem;
  }
}
.delicious_button__tooltip-3 {
  top: 0%;
  left: 50%;
}
@media (max-width: 1023px) {
  .delicious_button__tooltip-3 {
    top: 0%;
    left: 50%;
    width: 12.5rem;
  }
}

.products {
  padding-bottom: 5rem;
}
@media (max-width: 1023px) {
  .products {
    padding-bottom: 1.25rem;
  }
}
.products__info__items {
  display: flex;
  align-items: center;
  margin-bottom: 3.75rem;
}
@media (max-width: 1280px) {
  .products__info__items {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .products__info__items {
    margin-bottom: 0rem;
  }
}
.products__info__title {
  max-width: 23.875rem;
  margin-right: 6.25rem;
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.09;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .products__info__title {
    text-align: center;
    margin-bottom: 2.5rem;
    margin-right: 0rem;
    font-size: 4.375rem;
  }
}
@media (max-width: 767px) {
  .products__info__title {
    font-size: 3.625rem;
  }
}
.products__info__title > strong {
  background: var(--color-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.products__info__description {
  max-width: 29.0625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  color: var(--color-white);
  list-style: none;
  position: relative;
  -webkit-hyphens: auto;
          hyphens: auto;
  transition: all 0.5s ease-out;
}
@media (max-width: 1280px) {
  .products__info__description {
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .products__info__description {
    margin-bottom: 3.75rem;
  }
}
.products__info__box {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media (max-width: 1280px) {
  .products__info__box {
    flex-wrap: wrap;
  }
}
@media (max-width: 1023px) {
  .products__info__box {
    display: none;
  }
}
.products__info__box:hover > .products__info__card:not(:hover).products__info__card {
  filter: brightness(0.8) grayscale(0.6) contrast(1.2) blur(10px);
}
.products__info__card {
  max-width: 28.125rem;
  color: var(--color-white);
  position: relative;
  transition: all 0.5s ease-out;
  border-radius: 1.875rem;
  box-shadow: var(--color-gray) 6px 2px 16px 0px, var(--color-gray) -6px -2px 16px 0px;
}
@media (max-width: 1280px) {
  .products__info__card {
    margin-bottom: 1.25rem;
  }
}
.products__info__card:hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 0px 100px #0ba360);
  box-shadow: var(--color-green) 6px 2px 16px 0px, var(--color-green) -6px -2px 16px 0px;
}
.products__info__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 6.25rem;
}
.products__info__card__title {
  margin-bottom: 1.25rem;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.63;
  color: var(--color-white);
}
.products__info__card__subtitle {
  margin-bottom: 10px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.63;
  text-align: center;
  color: var(--color-gray);
}
.products__info__card__cost {
  display: flex;
  justify-content: space-between;
  width: 12.5rem;
  align-items: center;
}
.products__info__card__cost {
  margin-bottom: 1.25rem;
}
.products__info__card__price {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.63;
  color: var(--color-white);
}
.products__info__card__capacity {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  color: var(--color-gray);
}
.products__info__card__button {
  padding: 0.625rem;
}
.products__info__card__button.color-1 {
  background-image: var(--color-gradient-hover);
  box-shadow: var(--box-shadow);
}
.products__info__card__button:focus {
  outline: none;
}
.products__info__card__button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.products__info__card__button {
  width: 80%;
  margin-bottom: 0.9375rem;
  padding: 0.75rem 2.5rem;
  border-radius: 1.875rem;
  border-width: 0.0625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.125rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
@media (max-width: 767px) {
  .products__info__card__button {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .products__info__card__button {
    width: 90%;
    font-size: 1rem;
  }
}
.products__info__image__box {
  text-align: center;
  height: 21.875rem;
}
.products__info__image {
  position: relative;
  margin-bottom: 1.25rem;
  border-radius: 1rem;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.5s ease-out;
}
.products__info__image::after {
  content: "";
  background-image: linear-gradient(360deg, black, transparent);
  height: 9.375rem;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.products .mobile__stack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.125rem;
  height: 43.75rem;
  margin: 0 auto;
  margin-bottom: 6.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: none;
  transform-style: preserve-3d;
}
@media (max-width: 767px) {
  .products .mobile__stack {
    flex-direction: column;
    width: 23.75rem;
  }
}
@media (max-width: 480px) {
  .products .mobile__stack {
    width: 18.125rem;
  }
}
.products .card {
  cursor: grab;
  padding: 1.25rem;
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  position: absolute;
  border-radius: 1.875rem;
  z-index: calc(var(--card-max-z-index) - var(--i));
  transform: perspective(var(--card-perspective)) translateZ(calc(-1 * var(--card-z-offset) * var(--i))) translateY(calc(var(--card-y-offset) * var(--i))) translateX(var(--swipe-x, 0px)) rotateY(var(--swipe-rotate, 0deg));
  transition: transform var(--card-swap-duration) ease;
  will-change: transform;
  box-shadow: var(--color-gray) 6px 2px 16px 0px, var(--color-gray) -6px -2px 16px 0px;
}
.products .card:active {
  cursor: grabbing;
}

.popup {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}
.popup--active {
  visibility: visible;
  opacity: 1;
}
.popup--active .popup__content {
  transform: scale(1);
  opacity: 1;
}
.popup__content {
  background-image: var(--color-gradient);
  padding: 1.875rem;
  border-radius: 1.875rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 34.375rem;
  width: 90%;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}
.popup__close__btn {
  position: absolute;
  top: 0.9375rem;
  right: 1.25rem;
  font-size: 1.75rem;
  cursor: pointer;
  color: var(--color-gray);
  transition: color 0.2s ease;
}
.popup__close__btn:hover {
  color: var(--color-black-dark);
}
.popup__title {
  color: var(--color-black-dark);
  margin-bottom: 1.625rem;
  text-align: center;
  font-family: var(--font-family-base);
  font-weight: 400;
}

.form__group {
  margin-bottom: 0.9375rem;
}

.form__label {
  display: block;
  margin-bottom: 0.625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-black-dark);
}

.form__input {
  width: calc(100% - 20px);
  padding: 0.75rem;
  margin-bottom: 1.125rem;
  border: 1px solid #ddd;
  border-radius: 1.875rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.form__input::-moz-placeholder {
  color: var(--color-green);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1rem;
}
.form__input::placeholder {
  color: var(--color-green);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1rem;
}
.form__input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.form__help__text {
  display: block;
  margin-top: -0.625rem;
  margin-bottom: 0.625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-black-dark);
}

.form__submit__button {
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 1.875rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.form__submit__button.color-1 {
  background-image: var(--color-gradient-hover);
  box-shadow: var(--box-shadow);
}
.form__submit__button:focus {
  outline: none;
}
.form__submit__button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.thank__you {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}
.thank__you--active {
  visibility: visible;
  opacity: 1;
}
.thank__you--active .thank__you__content {
  transform: translateY(0);
  opacity: 1;
}
.thank__you__content {
  background-image: var(--color-gradient);
  padding: 2.5rem;
  border-radius: 1.875rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 21.875rem;
  width: 80%;
  position: relative;
}
.thank__you__title {
  font-family: var(--font-family-base);
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 1.25rem;
  font-size: 1.875rem;
}
.thank__you__text {
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-black-dark);
  font-size: 1.125rem;
  line-height: 1.6;
}
.thank__you__close__btn {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  font-size: 1.875rem;
  cursor: pointer;
  color: var(--color-gray);
  transition: color 0.2s ease;
}
.thank__you__close__btn:hover {
  color: var(--color-black-dark);
}

.events {
  padding-bottom: 6.25rem;
}
.events__header__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  margin-bottom: 3.375rem;
}
@media (max-width: 1280px) {
  .events__header__container {
    flex-direction: column;
    text-align: center;
  }
}
.events__title {
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.09;
  color: var(--color-white);
}
.events__title > strong {
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 100%;
  line-height: 1.09;
  background: var(--color-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1280px) {
  .events__title {
    margin-bottom: 1.875rem;
    font-size: 4.375rem;
  }
}
@media (max-width: 767px) {
  .events__title {
    font-size: 3.625rem;
  }
}
.events__subtitle {
  max-width: 28.5625rem;
  margin-right: 4.5rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  -webkit-hyphens: auto;
          hyphens: auto;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .events__subtitle {
    margin-right: 0rem;
  }
}
.events__scroller {
  max-width: 82.5rem;
}
.events__scroller__inner {
  padding-block: 0.625rem;
  display: flex;
  gap: 0.625rem;
}
.events__scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.events__scroller[data-animated=true] .events__scroller__inner {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
.events__scroller[data-direction=right] {
  --_animation-direction: reverse;
}
.events__scroller[data-direction=left] {
  --_animation-direction: forwards;
}
.events__scroller[data-speed=fast] {
  --_animation-duration: 20s;
}
.events__scroller[data-speed=slow] {
  --_animation-duration: 60s;
}
@media (max-width: 1023px) {
  .events__scroller[data-speed=slow] {
    --_animation-duration: 40s;
  }
}
@media (max-width: 767px) {
  .events__scroller[data-speed=slow] {
    --_animation-duration: 30s;
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.events__container__image_1, .events__container__image_2, .events__container__image_3, .events__container__image_4, .events__container__image_5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 2.5rem 1.875rem 1.75rem;
  background-image: url(../image/events/CoffeCupFull.webp);
  background-repeat: no-repeat;
  width: 38.375rem;
  height: 16.25rem;
  border-radius: 1.875rem;
}
.events__container__image_2 {
  background-image: url(../image/events/StarbuckscoffeFull.webp);
}
.events__container__image_3 {
  background-image: url(../image/events/StreetCoffeCupFull.webp);
  width: 25.0625rem;
}
.events__container__image_4 {
  background-image: url(../image/events/StreetLogoFull.webp);
  width: 25.0625rem;
}
.events__container__image_5 {
  background-image: url(../image/events/ManWithPenFull.webp);
  width: 25.0625rem;
}
.events__image__title {
  max-width: 18.125rem;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.09;
  color: var(--color-white);
}
.events__image__button {
  padding: 1.25rem 3.4375rem;
  border-width: 0.0625rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.46;
  color: var(--color-white);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 3.125rem;
  transition: all 0.4s ease-in-out;
}
.events__image__button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.events__image__button:focus {
  outline: none;
}
.events__image__button.color-1 {
  background-image: var(--color-gradient-hover);
  box-shadow: var(--box-shadow);
}

.contacts {
  padding-bottom: 5rem;
}
@media (max-width: 1023px) {
  .contacts {
    padding-bottom: 2.5rem;
  }
}
.contacts__info {
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .contacts__info {
    flex-direction: column;
  }
}
@media (max-width: 1280px) {
  .contacts__media {
    margin-bottom: 2.5rem;
  }
}
.contacts__title {
  margin-bottom: 4.0625rem;
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.09;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .contacts__title {
    text-align: center;
    font-size: 4.375rem;
  }
}
@media (max-width: 767px) {
  .contacts__title {
    font-size: 3.625rem;
  }
}
.contacts__title > strong {
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 100%;
  line-height: 1.09;
  background: var(--color-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts__subtitle {
  margin-bottom: 3.5rem;
  max-width: 24.1875rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.63;
  color: var(--color-white);
}
@media (max-width: 1280px) {
  .contacts__subtitle {
    text-align: center;
  }
}
.contacts__box {
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .contacts__box {
    justify-content: center;
  }
}
.contacts__box:not(:last-child) {
  margin-bottom: 2.5rem;
}
.contacts__vector {
  margin-right: 0.9375rem;
}
.contacts__link {
  height: 2.8125rem;
  font-family: car(--font-family-base);
  font-weight: 500;
  font-style: Medium;
  font-size: 2rem;
  line-height: 1.32;
  color: var(--color-green);
}
@media (max-width: 767px) {
  .contacts__link {
    font-size: 1.875rem;
  }
}
.contacts__map {
  max-width: 100%;
  text-align: end;
}
.contacts__iframe {
  max-width: 53.125rem;
  height: 34.6875rem;
  border-radius: 1.875rem;
}
@media (max-width: 1280px) {
  .contacts__iframe {
    width: 37.5rem;
  }
}
@media (max-width: 1023px) {
  .contacts__iframe {
    width: 31.25rem;
  }
}
@media (max-width: 767px) {
  .contacts__iframe {
    width: 21.875rem;
  }
}
@media (max-width: 480px) {
  .contacts__iframe {
    width: 16.875rem;
  }
}
.contacts__media, .contacts__map {
  flex: 1 1 50%;
}

.footer {
  padding: 3.125rem;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.375rem;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .footer__top {
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 1023px) {
  .footer__top {
    flex-direction: column;
  }
}
.footer__logo {
  width: 12.1875rem;
  height: 1.875rem;
  order: 1;
}
@media (max-width: 1023px) {
  .footer__logo {
    margin-bottom: 3.125rem;
  }
}
.footer__logo__link {
  display: inline-flex;
  height: 2.5rem;
}
.footer__information {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  order: 2;
}
@media (max-width: 1280px) {
  .footer__information {
    flex-wrap: wrap;
  }
}
@media (max-width: 1023px) {
  .footer__information {
    justify-content: space-evenly;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer__information {
    justify-content: center;
    -moz-column-gap: 3.125rem;
         column-gap: 3.125rem;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__list:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 3rem;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  padding-bottom: 0.25rem;
  color: var(--color-gray-dark);
  transition: 0.5s ease;
  background-image: var(--color-gradient-header);
  background-size: 100% 200%;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (max-width: 767px) {
  .footer__link {
    color: var(--color-black-dark);
    margin-bottom: 0.25rem;
  }
}
.footer__link:hover {
  background-position: 0% 100%;
  -webkit-background-clip: text;
          background-clip: text;
}
.footer__link:hover::before {
  transform: scaleX(1);
}
.footer__link::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: var(--color-green);
  transition: 0.5s;
  transform: scaleX(0);
}
.footer__link:active {
  color: var(--color-green);
  border-bottom: 0.125rem solid var(--color-green);
}
.footer__arrow {
  width: 5.25rem;
  height: 5.25rem;
}
@media (max-width: 1023px) {
  .footer__arrow {
    display: none;
  }
}
.footer__link__arrow {
  display: inline-flex;
  height: 5rem;
  order: 3;
}
@media (max-width: 1280px) {
  .footer__link__arrow {
    order: 1;
  }
}
.footer__down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__down {
    flex-direction: column;
  }
}
.footer__phone__number {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 1;
  color: var(--color-green);
}
@media (max-width: 767px) {
  .footer__phone__number {
    margin-bottom: 1.875rem;
    font-size: 1.5rem;
  }
}

.head {
  color: var(--color-gray-light);
}/*# sourceMappingURL=style.css.map */